:root {
  --dark-teal: #17585b;
  --no-color: transparent;
  --modal-container-bg-color: #1e1818de;
  --second-row-width: 145px;
  --rows-container-margin-top: -68px;
}

html {
  scrollbar-width: none;
}

body {
  margin: 0px;
  padding: 2vh 2vw;
  background-color: #191f20;
}

#react-container {
  display: flex;
  justify-content: space-evenly;
}

#title {
  width: max-content;
  height: 68px;
  margin: 1.5rem auto;
  border-radius: 16px;
  text-align: center;
  font-size: 3rem;
  font-family: Orbitron;
  color: #f7e926;
  overflow: hidden;
  animation-duration: 0.1s; 
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}

@keyframes changing-bg-color {
  from {
    background-color: var(--no-color);
  }
  
  to {
    background-color: var(--dark-teal);
  }
}

.title__rows-container {
  margin-top: var(--rows-container-margin-top);
  animation-duration: 1.5s;
  animation-delay: 3.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes margin-change {
  0% {
    margin-top: var(--rows-container-margin-top);
  }
  
  50% {
    margin-top: 0px;
  }

  100% {
    margin-top: 0px;
  }
}

.title__first-row {
  width: max-content;
  margin: auto;
  padding: 6px 16px;
  border-radius: 16px;
  background-color: var(--dark-teal);
}

.title__second-row {
  width: var(--second-row-width);
  margin: auto;
  padding: 6px 24px;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: var(--dark-teal);
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes stretch-width {
  50% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

.letter-M {
  display: inline-block;
  margin-right: 6px;
}

.editor-window, .previewer-window {
  width: 48%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.editor-window {
  position: relative;
  transition: transform 0.6s, opacity 0.6s, height 0.8s;
}

.previewer-window {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: transform 0.6s, height 0.8s;
}

.editor-label, .previewer-label {
  display: flex; 
  justify-content: space-between;
  width: 100%;
  padding: 4px 1rem 4px;
  box-sizing: border-box;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background:linear-gradient(to right, #1f5a5e,#92b959);
  font-size: 1.7rem;
  font-family: 'Orbitron';
  text-align: center;
  color: hsl(59.1, 100%, 62.7%);
}

.fa-maximize {
  margin-top: 6px;
  font-size: 1.4rem;
  color: #28423c;
  transition: color 0.3s, height 0.3s;
}

.fa-maximize:hover {
  color: white;
}

.textarea__edit-pen {
  width: max-content;
  padding: 6px 12px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  border-radius: 12px;
  background-color: white;
  font-size: 1.5rem;
  color: black;
  transition: color 0.3s, background-color 0.3s;
}

.editor {
  width: 100%;
  height: 100%;
  padding: 10px 0.5rem;
  box-sizing: border-box;
  border: 0px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: hsl(0, 3.7%, 26.5%);
  font-size: 1rem;
  font-weight: 600;
  color: white;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
  resize: none;  
  outline: none;
}

.previewer {
  width: 100%;
  margin: 0px auto;
  padding: 0px 1rem;
  box-sizing: border-box;
  background-color: white;
  font-family: 'IBM Plex Serif', serif;
  color: hsl(144, 15%, 6%);
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: #535252 transparent;
}

table, th, td {
  border-collapse: collapse;
  border: 2px solid rgba(14, 172, 98, 0.905);
}

img {
  width: 100%;
}

.custom-scrollbar {
  display:flex;
  flex-direction: column;
  height: 98vh;
	position: fixed;
	top: 0.5rem;
	right: 0.5rem;
	border-radius: 20px;
  overflow: hidden;
  transition: height 0.3s;
}

.custom-scrollbar__key {
  width: 12px;
  margin: 0px auto;
  border-radius: 1rem;
  background: linear-gradient(to bottom, green, greenyellow);
}

.custom-scrollbar__key::after {
	content: "";
	display: block;
	width: 100%;
	height: 0.8rem;
	background-color: greenyellow;
	border-radius: 50%;
}

.fa-angle-down {
  margin-top: -0.6rem;
  background-color: transparent;
  font-size: 1.8rem;
  color: yellow;
}

.modal-box-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--modal-container-bg-color);
}

.modal-box {
  width: 40%;
  margin: 8vh auto 0px;
  padding: 0px 2rem;
  border-radius: 1rem;
  background-color: #7faa67;
  font-family: "Orbitron", Verdana;
  color: white;
  overflow: hidden;
  transform-origin: bottom center;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.modal-box__image {
  display: block;
  width: 25%;
  margin: auto;
  margin-top: 2rem;
}

.modal-box__greetings-text {
  text-align: center;
  font-size: 2rem;
}

.modal-box__instruction-text {
  margin: 3rem 0px;
}

.modal-box__link {
  font-size: 1.5rem;
  color: #ffff7b;
  outline: none;
}

.modal-box-container__close-button {
  display: block;
  margin: -1.7rem auto 0px;
  padding: 0.5rem 16px;
  border: 0px;
  border-radius: 50%;
  background-color: #0d0f0d;
  font-size: 2rem;
  color: #ffdd59;
  outline: none;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1.2s
}

.modal-box-container__close-button:hover {
  background-color: white;
  color: black;
}

@keyframes shrink {
  30% {
    transform: scaleY(0.002);
  }
  60% {
    transform: scaleY(0.002) scaleX(0);
  }
  100% {
    transform: scaleY(0.002) scaleX(0);
  }
}

@keyframes up-rotate-disappear {
  20% {
    transform: translateY(-50vh);
  }

  40% {
    transform: translateY(-50vh) rotateY(360deg);
  }

  60% {
    transform: translateY(-50vh) rotateY(360deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-50vh) rotateY(360deg);
    opacity: 0;
  }
}

.toggle-button-container {
  position: fixed;
  bottom: 2vh;
  display: none;
}

.toggle-button {
  height: 3rem;
  display: flex;
  justify-content: space-around;
  position: relative;
  border-radius: 3rem;
  background-color: black;
  font-size: 1.2rem;
  font-family: Orbitron;
  line-height: 0.5rem;
  color: #2d331a;
  overflow: hidden;
}

.toggle-button__switch {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 50%;
  box-sizing: border-box;
  border-bottom: 4px solid #0c3135;
  border-radius: 2rem;
  background-color:#15626f;
  transition: left 0.6s, right 0.6s;
}

.toggle-button__editor-option, .toggle-button__previewer-option {
  width: 120px;
  margin: 0px;
  padding: 10px 5px;
  position: relative;
  line-height: 1.5rem;
  text-align:center;
}

.toggle-button__editor-option {
  color: #424242;
  transition: text-shadow 0.5s, color 0.8s;
  transition: text-shadow 0.5s, color 0.8s; 
}

.toggle-button__previewer-option {
  text-shadow: 1px 4px #000;
  color: #ffe511;
}

@media (max-width: 768px) {
  :root {
    --second-row-width: 108px;
    --rows-container-margin-top: -47px;
  }

  body {
    padding: 0vw 6vw 2vw;
  }

  #title {
    height: 45px;
    font-size: 1.6rem;
  }

  .title__first-row, .title__second-row {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
  
  .editor-window {
    width: 100%;
    transform: scale(0.8);
    opacity: 0;
  }
  
  .previewer-window {
    width: 88%;
    position: absolute;
  }

  .fa-maximize:hover {
    color: #28423c;
  }
  
  .modal-box {
    width: 80%;
  }

  .modal-box__greetings-text {
    font-size: 1.8rem;
  }
}

@media (min-width: 769px) and (max-width: 1080px) {
 .modal-box {
   width: 50%;
 }
}

